@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
::selection {
    background-color: #44403c; /* text-stone-700 */
    color: #fefce8; /* bg-amber-50 */
}

/* Sélection pour le mode SOMBRE (crème sur noir) */
.dark ::selection {
    background-color: #fde68a; /* text-amber-200 */
    color: #181a1b; /* votre fond sombre */
}
